<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leona Lewis</title>

    <style>
        body{
            background-color:black;
            font-family: Arial, sans-serif;
            color: white;
            text-align: center;

        }
        h1{
            background-color: #000001;
            text-align: center;
        }
        p{
            font-size: 18px ;
        }
        navbarlist{
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <h1>Leona Lewis</h1>
    <section>
        <!--returns error message 
            
            SyntaxError: missing ) after argument list in /Users/hannah-ann/Desktop/COM518-2024/week2/views/index.ejs while compiling ejs

        -->
        <p>
            <% songs.forEach(song => { 
                 %>
                Title: <%=song.title %> <br />
                Artist: <%=song.artist %> <br />
                Year: <%=song.year %> <br />
                Downloads: <%=song.downloads %> <br />
                Price: <%=song.price %> <br />
                Quantity: <%=song.quantity %> <br />
            });
            %>
        </p>
    </section>

</body>

</html>