<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christie</title>

    <style>
        body {
            background-color: black;
            font-family: Arial, sans-serif;
            color: white;
            text-align: center;

        }

        h1 {
            background-color: #000001;
            text-align: center;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body>
    <h1>Christie</h1>
    <section>
        <p>
            <%songs.forEach(song=>{%>
                Title:<%-song.title%><br>
                    Artist:<%-song.artist%><br>
                        Year:<%-song.year%><br>
                            Downloads:<%-song.downloads%><br>
                                Price:<%-song.price%><br>
                                    Quantity:<%-song.quantity%><br>
                                        <%})%><br>
        </p>
    </section>
</body>